name: Tests

on:
  workflow_call:

jobs:
  test:
    name: Ruby ${{ matrix.ruby }}

    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby:
          - "3.2"
          - "3.3"
          - "3.4"
          - "4.0"

    steps:
      - uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Install Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.1.42

      - name: Fetch the GOV.UK Frontend fixtures
        run: bun install

      - name: Run the default task
        run: bundle exec rake
